/* Variables */

:root {
  --basic-light-black: #283136;
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-dark-black: #231F20;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-white: #ffffff;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #DFDFDF;
  --basic-dark-grey: #D5D5D5;
  --special-grey: #4D4D4D;
  --contacts-grey: #666666;
  --footer-grey: #444444;
  --logo-grey: #A6A6A6;
  --text-button-opacity: rgba(255, 255, 255, 0.3);
}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
}

.page img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* button */

.button {
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--basic-light-red);
  color: var(--basic-white);
  border: none;
}

.button:hover {
  background-color: var(--basic-red);
}

.button:focus {
  color: var(--text-button-opacity);
  backround-color: var(--basic-dark-red);
}

.hidden {
  display: none;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Navigation */

.main-header {
  background-color: var(--basic-light-grey);
}

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.main-navigation a {
  text-decoration: none;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  opacity: 0.3;
}

.selected {
  border-bottom: 2px solid var(--basic-light-red);
}

/* Main screen */

.main-screen h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.main-screen {
  background-color: var(--basic-light-grey);
}

.slider-button {
  background-color: var(--basic-white);
}

/* services */

.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.green-button {
  background-color: var(--basic-light-green);
}

.green-button:hover {
  background-color: var(--basic-green);
}

.green-button:focus {
  backround-color: var(--basic-dark-green);
}

.yellow-button {
  background-color: var(--basic-light-yellow);
}

.yellow-button:hover {
  background-color: var(--basic-yellow);
}

.yellow-button:focus {
  backround-color: var(--basic-dark-yellow);
}

/* about */

.about h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about h3 {
 font-weight: 700;
 color: var(--basic-black);
}

.company p {
  font-weight: 700;
  text-align: center;
  color: var(--basic-black);
}

.company b {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--basic-black);
}

.company span {
  line-height: 18px;
}

/* partners */

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/*sort */

.sort p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-item:hover {
opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.active-sort {
  opacity: 1;
}

/* filters */

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-price input {
  background-color: var(--basic-light-grey);
}

.filters p {
  line-height: 22px;
  text-transform: uppercase;
}

.filters label {
  font-size: 16px;
  line-height: 19px;
}

.grey-button {
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.grey-button:hover {
  background-color: var(--basic-grey);
}

.grey-button:focus {
  background-color: var(--basic-dark-grey);
  color: var(--basic-black-opacity);
}

.grey-button:active {
  background-color: var(--basic-white);
}

/* catalog */

.catalog h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-black);
}

.catalog h3:hover {
  color: var(--basic-light-red);
}

.catalog h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog p {
  line-height: 18px;
  text-align: center;
}

/* pagination */

.active-pagination {
  background-color: var(--basic-white);
}

/* contacts */

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);

}

.contacts address {
  line-height: 18px;
  font-style: normal;
  color: var(--contacts-grey);
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

/* footer */

.main-footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-footer p {
  line-height: 22px;
  color: var(--footer-grey);
}

/* popup */

.popup h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--basic-black);
}

.popup label {
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-black);
}
