/* Variables */
:root {
  --basic-light-black: #283136;
  --basic-black: #000000;
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-dark-black: #231F20;
  --basic-light-red: #FB565A;
  --basic-red: #E74246;
  --basic-dark-red: #D7373B;
  --basic-white: #ffffff;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-dark-green: #00AA62;
  --basic-light-yellow: #EFC84A;
  --basic-yellow: #EAB534;
  --basic-dark-yellow: #E5A722;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #DFDFDF;
  --basic-dark-grey: #D5D5D5;
  --special-grey: #4D4D4D;
  --contacts-grey: #666666;
  --footer-grey: #444444;
  --logo-grey: #A6A6A6;
  --text-button-opacity: rgba(255, 255, 255, 0.3);
  --slider-circle-grey: #C1C1C1;
  --social-button-grey: #E1E1E1;
  --popup-field-grey: #D7DCDE;
  --popup-hover-grey: #B4B9BB;
  --range-toggle-grey: #ABABAB;
  --shadow-dark: #CFCFCF;
  --grey-prices: #F1F1F1;
  --black-opacity-border: rgba(0, 0, 0, 0.1);
  --active-pagination-grey: #DBDBDB;
  --button-shadow-black: rgba(0, 1, 1, 0.1);
  --text-shadow-black: rgba(0, 0, 0, 0.25);
  --popup-shadow-black: rgba(0, 0, 0, 0.4);
}

/* Global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-light-black);
  background-color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page img {
  max-width: 100%;
  height: auto;
}

.clear-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* grid */

.page {
  height: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

/* button */

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-weight: 500;
  background-color: var(--basic-light-red);
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  padding: 17px 54px 15px;
}

.button:hover {
  background-color: var(--basic-red);
}

.button:focus {
  color: var(--text-button-opacity);
  backround-color: var(--basic-dark-red);
  box-shadow: inset 0 3px 0 var(--button-shadow-black);
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Navigation */

.main-header {
  background-color: var(--basic-light-grey);
}

.main-navigation {
  display: flex;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 49px;
}

.main-navigation a {
  text-decoration: none;
  font-weight: 500;
}

.site-navigation {
  display: flex;
  margin-left: 203px;
  margin-right: 223px;
  padding-top: 26px;
}

.user-navigation {
  padding-top: 26px;
}

.cart {
  position: relative;
  padding-left: 15px;
  left: 5px;
}

.cart::before {
  position: absolute;
  top: 2px;
  left: -25px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation li {
  margin-right: 45px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  opacity: 0.3;
}

.selected {
  padding-bottom: 19px;
  border-bottom: 2px solid var(--basic-light-red);
}

/* Main screen */

.main-screen {
  position: relative;
  background-color: var(--basic-light-grey);
  margin-bottom: 80px;
}

.main-screen h1 {
  width: 538px;
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--basic-black);
}

.slider {
  position: relative;
}

.slide-first p {
  margin-bottom: 38px;
  margin-top: 0;
  line-height: 25px;
}

.slide-second p {
  margin-bottom: 27px;
  margin-top: 35px;
  line-height: 25px;
}

.slide-third p {
  margin-bottom: 27px;
  margin-top: 35px;
  line-height: 25px;
}

.main-button {
  display: block;
  width: 132px;
}

.slide-list {
  margin: 0;
  padding: 0;
}

#first-slide:checked~.slide-list .slide-first,
#second-slide:checked~.slide-list .slide-second,
#third-slide:checked~.slide-list .slide-third {
  display: block;
}

.slider-buttons {
  position: absolute;
  bottom: 89px;
  left: 536px;
  display: flex;
}

.slider-buttons label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button::after {
  content: "";
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  border-radius: 50%;
}

#first-slide:checked ~ .slider-buttons .control-one::before,
#second-slide:checked ~ .slider-buttons .control-two::before,
#third-slide:checked ~ .slider-buttons .control-three::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid var(--slider-circle-grey);
  border-radius: 50%;
}

.slide {
  display: none;
}

.slide-first {
  display: none;
  background-image: url("../img/nerds-index-slide.png");
  background-repeat: no-repeat;
  background-position: right 5px bottom 1px;
  padding-top: 67px;
  padding-bottom: 80px;
}

.slide-second {
  display: none;
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: right 3px bottom 0px;
  padding-top: 67px;
  padding-bottom: 80px;
}

.slide-third {
  display: none;
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: right 3px bottom 1px;
  padding-top: 67px;
  padding-bottom: 80px;
}

/* services */

.services {
  padding-bottom: 80px;
  border-bottom: 2px solid var(--basic-light-grey);
}

.sevices-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  padding-right: 60px;
}

.services h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-item p {
  margin-top: 0;
  margin-bottom: 32px;
  width: 245px;
}

.services-item:nth-child(2) p {
  width: 230px;
}

.red-button {
  display: block;
  width: 160px;
  padding: 16px 0;
}

.green-button {
  display: block;
  width: 160px;
  padding: 16px 0;
  background-color: var(--basic-light-green);
}

.green-button:hover {
  background-color: var(--basic-green);
}

.green-button:focus {
  backround-color: var(--basic-dark-green);
}

.yellow-button {
  display: block;
  width: 160px;
  padding: 16px 0;
  background-color: var(--basic-light-yellow);
}

.yellow-button:hover {
  background-color: var(--basic-yellow);
}

.yellow-button:focus {
  backround-color: var(--basic-dark-yellow);
}

/* about */

.information {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 49px;
}

.about {
  padding-top: 34px;
  width: 660px;
}

.about h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 32px;
  color: var(--basic-black);
}

.about h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 41px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
}

.about p {
  margin: 0;
}

.about-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 36px;
}

.about-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: 0px;
  background-color: var(--basic-red);
}

.company {
  width: 360px;
  margin-left: auto;
}

.company-numbers {
  display: flex;
  justify-content: space-between;
}

.company p {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 29px;
  color: var(--basic-black);
}

.company b {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--basic-black);
}

.company-number span {
  display: inline-block;
  line-height: 19px;
  margin-top: 11px;
}

.company-number {
  margin-right: 23px;
}

.company-number:nth-child(2) {
  margin-right: 21px;
}

.company-number sup {
  font-size: 27px;
}

/* partners */

.partners {
  padding-top: 46px;
  border-bottom: 2px solid var(--basic-light-grey);
  padding-bottom: 37px;
}

.partners-list {
  display: flex;
}

.partners-item {
  position: relative;
}

.partners-item::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-grey);
  right: -50px;
  bottom: 27px;
}

.partners-item:first-child {
  margin-right: 95px;
  margin-left: 32px;
  margin-top: 17px;
}

.partners-item:nth-child(2) {
  margin-right: 104px;
}

.partners-item:nth-child(2)::after {
  right: -46px;
}

.partners-item:nth-child(3) {
  margin-right: 120px;
  margin-top: 19px;
}

.partners-item:nth-child(3)::after {
  right: -57px;
}

.partners-item:last-child {
  margin-top: 6px;
}

.partners-item:last-child::after {
  display: none;
}

.partners-list a {
  opacity: 0.2;
}

.partners-list a:hover {
  opacity: 1;
}

.partners-list a:active {
  opacity: 0.1;
}

/* catalog-page */

.catalog-page {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 140px;
  align-content: start;
}

.catalog-heading {
  background-color: var(--basic-light-grey);
  padding-top: 65px;
  padding-bottom: 110px;
  margin-bottom: 53px;
}

.catalog-heading h1 {
  width: 727px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 auto;
  margin-top: 2px;
  color: var(--basic-black);
}

/*sort */

.sort {
  position: relative;
}

.sort-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-bottom: 53px;
  align-items: center;
  position: relative;
}

.sort-list p {
  margin-right: 267px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.sort-item {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  opacity: 0.3;
  margin-right: 25px;
}

.active-sort {
  opacity: 1;
}

.sort-item:nth-child(3) {
  margin-right: 26px;
}

.sort-item:nth-child(4) {
  margin-right: 0px;
}

.sort-item:hover {
  opacity: 0.6;
}

.sort-item:active {
  opacity: 1;
}

.active-sort {
  opacity: 1;
  padding-top: 2px;
}

.more {
  margin-right: 0;
  position: relative;
}

.less {
  margin-right: 0;
  position: relative;
}

.less::before {
  position: absolute;
  top: -5px;
  left: 52px;
  content: "";
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent var(--logo-grey);
}

.more::before {
  position: absolute;
  top: -7px;
  left: 48px;
  content: "";
  border-style: solid;
  border-width: 10px 5.5px 0;
  border-color: var(--basic-dark-black) transparent transparent;
}

/* filters */

.filters fieldset {
  border: none;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-light-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--popup-field-grey);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-toggle-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-dark);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 12px;
  text-align: center;
  color: var(--basic-light-black);
  border: none;
  border-radius: 3px;
  background: var(--basic-light-grey);
  font-family: inherit;
  font-size: inherit;
}

.filter-price {
  margin-bottom: 54px;
}

.filters p {
  line-height: 22px;
  text-transform: uppercase;
}

.filters label {
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-light-black);
}

.filter-type {
  margin-top: 54px;
}

.filter-type label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter-type legend {
  margin-bottom: 13px;
}

.filter-templates {
  line-height: 20px;
}

.filter-templates li {
  margin-bottom: 15px;
}

.filter-radio + label::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 0;
  border: 4px solid var(--special-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-radio:checked + label::after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: var(--special-grey);
  border: 1px solid var(--special-grey);
  border-radius: 50%;
  opacity: 0.4;
}

.filter-radio + label:hover::before {
  opacity: 1;
}

.filter-radio:checked + label:hover::after {
  opacity: 1;
}

.filter-feature {
  margin-top: 28px;
}

.filter-feature legend {
  margin-bottom: 14px;
}

.filter-feature li {
  margin-bottom: 15px;
}

.filter-feature label {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter-check + label::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid var(--logo-grey);
  border-radius: 3px;
}

.filter-check + label:hover::before {
  border: 2px solid var(--special-grey);
}

.filter-check:checked + label::after {
  content: "";
  width: 25px;
  height: 24px;
  position: absolute;
  left: 1px;
  right: 1px;
  top: -1px;
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
}

.filter-check:checked + label:hover::after {
  border: var(--special-grey);
  background-image: url("../img/checkhov.svg");
}

.grey-button {
  display: block;
  width: 260px;
  font-weight: 500;
  margin-top: 31px;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
}

.grey-button:hover {
  background-color: var(--basic-grey);
}

.grey-button:active {
  background-color: var(--basic-dark-grey);
  color: var(--basic-black-opacity);
}

/* catalog */

.goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.goods-item {
  width: 360px;
  position: relative;
  margin-bottom: 32px;
}

.goods-list img {
  display: block;
  margin-top: -8px;
  border: 1px solid var(--black-opacity-border);
  border-radius: 0 0 3px 3px;
}

.goods-item:hover {
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.25);
}

.goods-item:hover path {
  fill: var(--special-grey);
}

.goods-description {
  position: absolute;
  width: 100%;
  height: 230px;
  background-color: var(--basic-light-grey);
  display: none;
  bottom: 0;
  text-align: center;
}

.goods-item:hover .goods-description {
  display: block;
}

.goods-item p {
  width: 255px;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 48px;
}

.goods-item:first-child p {
  width: 200px;
}

.catalog h3 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog h3:hover {
  color: var(--basic-light-red);
}

.catalog h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog p {
  line-height: 18px;
}

.goods-description .button {
  padding: 17px 72px 15px;
}

/* pagination */

.pagination {
  margin-top: 21px;
  display: flex;
  justify-content: flex-start;
}

.pagination a {
  display: block;
  padding: 17px 21px 15px;
}

.pagination-item {
  margin-right: 10px;
  background-color: var(--basic-light-grey);
  font-weight: 500;
  color: var(--basic-black);
}

.next a {
  padding-left: 78px;
  padding-right: 78px;
}

.pagination-item:hover {
  background-color: var(--basic-grey);
}

.pagination-item:active {
  background-color: var(--basic-dark-grey);
  color: var(--basic-black-opacity);
}

.active-pagination {
  background-color: var(--basic-white);
  box-shadow: inset 0 0 0 3px var(--active-pagination-grey);
}

.pagination .grey-button {
  width: 210px;
}

/* contacts */

.map {
  text-align: center;
}

.map img {
  width: 1440px;
  height: 416px;
}

.contacts {
  position: relative;
  margin-top: 80px;
}

.catalog-contacts {
  margin-top: 60px;
}

.contacts-info {
  width: 319px;
  position: absolute;
  background-color: var(--basic-white);
  bottom: 61px;
  left: 50%;
  transform: translateX(-580px);
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 0;
  margin-bottom: 0;
  padding: 49px 76px 23px 50px;
}

.contacts address {
  line-height: 18px;
  font-style: normal;
  color: var(--contacts-grey);
  padding: 0 39px 37px 50px;
}

.contacts-phone {
  color: inherit;
  text-decoration: none;
}

.map-button {
  display: block;
  width: 131px;
  font-weight: 500;
  margin: 0 50px 47px;
  padding: 17px 44px 15px;
}

.map-marker {
  position: absolute;
  bottom: 140px;
  left: 50%;
  transform: translateX(102px);
}

/* footer */

.main-footer {
  display: flex;
  padding-top: 62px;
  padding-bottom: 62px;
}

.social-list {
  display: flex;
  margin-right: 130px;
}

.social-item {
  display: flex;
  justify-content: center;
  background-color: var(--social-button-grey);
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 11px;
}

.social-button {
  padding: 30px;
}

.social-item:hover {
  background-color: var(--basic-red);
}

.social-item:active {
  background-color: var(--basic-dark-red);
}

.social-item .social-button:focus {
  opacity: 0.3;
}

.footer-labels {
  justify-self: center;
  padding-top: 6px;
}

.main-footer h2 {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-footer p {
  margin-top: 10px;
  line-height: 22px;
  color: var(--footer-grey);
}

/* popup */

.popup {
  display: none;
  position: fixed;
  width: 960px;
  height: 590px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px 0 var(--popup-shadow-black);
}

.popup h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  margin: 0;
  margin: 68px 549px 37px 100px;
  color: var(--basic-black);
}

.popup-form {
  width: 761px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 89px 84px 100px;
}

.popup-form p {
  margin: 0;
}

.popup label {
  display: block;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 9px;
  color: var(--basic-black);
}

.popup input {
  width: 328px;
  height: 46px;
  padding: 0 14px;
  border: 2px solid var(--popup-field-grey);
  border-radius: 3px;
  margin-bottom: 34px;
  font-family: Roboto, sans-serif;
}

.popup input:hover {
  border: 2px solid var(--popup-hover-grey);
}

.popup input:focus {
  border: 2px solid var(--basic-black);
}

.popup input:invalid {
  border: 2px solid var(--basic-red);
}

.user-name {
  margin-right: 40px;
}

.popup textarea {
  resize: none;
  width: 326px;
  height: 75px;
  font-family: Roboto, sans-serif;
  border: 2px solid var(--popup-field-grey);
  border-radius: 3px;
  padding: 16px 414px 23px 16px;
}

.popup textarea:hover {
  border: 2px solid var(--popup-hover-grey);
}

.popup textarea:focus {
  border: 2px solid var(--basic-black);
}

.popup .button {
  margin-top: 40px;
  padding: 17px 82px 15px;
}

.popup-close {
  position: absolute;
  top: 85px;
  right: 85px;
  border: none;
  outline: none;
  opacity: 0.3;
  background-color: var(--basic-white);
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:focus {
  opacity: 0.1;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes bounce {
0% {
  transform: translateY(-2000px);
  left: 472px;
}

70% {
  transform: translateY(50px);
  left: 472px;
}

90% {
  transform: translateY(-400px);
  left: 472px;
}

100% {
  transform: translateY(-50%);
  left: 472px;
}
}

@keyframes shake {
0%,
100% {
  transform: translateX(0);
}

10%,
30%,
50%,
70%,
90% {
  transform: translateX(-10px);
}

20%,
40%,
60%,
80% {
  transform: translateX(10px);
}
}
